# Auto detect text files and perform LF normalization
* text=auto
*.css linguist-detectable=true
*.php linguist-detectable=true 
*.js linguist-detectable=true
*.html linguist-detectable=true
*.xml linguist-detectable=false